<h1><%= @article.title %></h1>

<% if @article.tags.exists? %>
  <p>
    Tags:
    <% a = @article.tags %>
    <% @article.tags.each do |tag| %>
      <% if tag != a[-1] %>
        <%= link_to tag.name, tag_path(tag) %>,
      <% else %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    <% end %>
  </p>
<% end %>

<p><%= @article.body %></p>

<% @article.images.each do |image| %>
  <%= image_tag image.url %>
<% end %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>
